/*h3{
    color:rgb(0, 255, 4);
}
h4{
    color:rgb(42, 198, 65);
}
pre{
    color:rgb(138, 198, 109);
}
button{
    color: brown;
    background-color: rgb(245, 245, 245);
}
body{
    background-color: rgb(230, 90, 195);
}
h2{
    color: #ffc03f;
}
#headingOne{
    color:blueviolet;
}
#headingTwo{
    color:chocolate;
}*/
/* div{
    background-color:blue;
}
button{
    color:green;
}
.heading{
    color:red;
}
a{
    text-decoration:underline;
} */
/* #one{
    text-align:Center;
    text-transform:capitalize;
}
p{
    text-transform:capitalize;
    font-family:Time new romans;
}
#outer{
     font-size:25px;
}
#inner{
    font-size:20px;
} */

/*TRAFFIC LIGHT*/

/* #main{
    height:500px;
    width:150px;
    background-color:black;
    
   
}
#red{
    height:100px;
    width:100px;
    border-radius:50%;
    background-color:red;
    padding: 25px;
    
}
#yellow{
    height:100px;
    width:100px;
    border-radius:50%;
    background-color:yellow;
    padding: 25px;
}
#green{
    height:100px;
    width:100px;
    border-radius:50%;
    background-color:green;
    padding: 25px;
} */



/*=======================================*/
/* #one{
    height:100px;
    width:100px;
    background-color:aqua;
    margin:25px;
    padding:25px; */
/* }
#two{
    height:100px;
    width:100px;
    background-color:orchid;
    margin:25px;
    padding:25px;
}

#three{
    height:100px;
    width:100px;
    background-color:greenyellow;
    margin:25px;
    padding:25px;
} */
/* ===================PRACTICE SET -4=======================2.54 */
/* NAVBAR */
/* * {
    padding:0px;
    margin:0px;
    color:black;
}
#navbar{
        height:60px;
        background-color: #0f1111;
        color: rgb(255, 255, 255);
        
}
button{
    background-color:#f08804;
}
#logo{
    color:#f08804;
    font-size:25px;
}
a{
    padding-right:200px;
    color: white;
}

.contentbox {
    height:100px;
    width:100vw;
    border:2px solid black;
}
footer{
        text-align: center;
        background-color: #0f1111;
        color:white;
}
#content{
    height:577px;
} */
/* ===============POSITION OF THE BOXES==================================*/
/* div{
    height:100px;
    width:100px;
    background-color:aquamarine;
    border:2px solid black;
    display:inline-block;
}
body{
    background-image: url("Piyush.jpg");
    background-size:cover;
}
#box1{
    background-image: url("Piyush.jpg");
    background-size:cover;
} */

/* #box1{
    position:static;
}
#box2{
    position:relative;
    top:50px;
    left:50px;
}
#box3{
    position:absolute;
    top:50px;
    
}
/* USE FOR NAVBAR =====================
#box4{ 
    position:fixed;
    right:0px;
    bottom:0;
    width:100%;
}     */
/*==================Practice set 5 ===============================*/
/* div{
        height:100px;
        width:100px;
        background-image: url("Piyush.jpg");
        background-size:cover;
        position:absolute;
        right:0px;
        top:10px;
} */
/*============================     FLEXB0X   =================================*/
/* body{
    text-align:center;
}
div{
    height:100px;
    width:150px;
    display: inline-block;
    border:2px solid black;
}
#container{
    width:600px;
    height:600px;
    display:flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
   
    
}
#box1{
       background-color:antiquewhite;       
}
#box2{
       background-color:aqua;
       height:200px;
       
}
#box3{
       background-color:aquamarine;
       height:75px;
}#box4{
       background-color:darkmagenta;
}#box5{
       background-color:darkseagreen;
       align-self:flex-end;
} */
/*==============================  PRACTICE SET 6 ================================*/
.navbar{
    background-color: antiquewhite;
    display:flex;
    justify-content:center;
    justify-content:space-evenly;
}
a{
    
    color:rgb(0, 0, 0);
}
li{
    list-style-type:none;
    display:inline;
}
.outer{
    height:400px;
    width:400px;
    background-color: aquamarine;
    display:flex;
    justify-content: center;
    align-items:center;
}
.inner{
    height:200px;
    width:200px;
    background-color: rgb(17, 255, 0);
}
